/* UNIQUE STYLES */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
}

/* BASE STYLES */
.d_flex {
    display: flex;
}

.justify_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.justify_space_between {
    justify-content: space-between;
}

.flex_column {
    flex-direction: column;
}

.h100percent {
    height: 100%;
}

.w100percent {
    width: 100%;
}

.box-size-initial {
    box-sizing: initial;
}

a {
    color: inherit;
    text-decoration: none;
}

.p80 {
    padding: 80px 0;
}

.row {
    display: flex
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33333%;
}

.section_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
    margin-bottom: 24px;
}

.section_description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-bottom: 32px;
}

/*  FONTS*/
.card_title,
.header_logo,
.section_title {
    font-family: 'Montserrat', sans-serif;
}

.base_button {
    padding: 16px 32px;
    background-color: #0E1734;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    cursor: pointer;
}

/* BASE STYLES END */

/* HEADER STYLES */
.header {
    width: 100%;
    height: 120px;
}

.header_logo {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.header_link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #192252;

}

.header_link:not(:last-child) {
    margin-right: 32px;
}

.header_start {
    padding: 14px 16px;
}

/* SECTION HERO */
#hero {
    padding: 80px 0;
}

.hero_row {
    gap: 24px;
}

.hero_title {
    width: 587px;
    font-size: 48px;
}

.hero_desc {
    width: 485px;
}

.hero_right_side {
    padding-left: 12px;
}

.hero_img {
    width: 100%;
    height: 588px;
    box-sizing: initial;
}

.hero_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.col-4:nth-child(2) .hero_img {
    padding-top: 81px;
}

/* SECTION HERO END */

/* ABOUT SECTION */
.about {
    padding: 80px 0;
}

.about_letf_side {
    margin-right: 126px;
}

.about_desc {
    margin-bottom: 16px;
    width: 584px;
}

.about_btn {
    margin-bottom: 16px;
}

.about .d_flex:not(:last-child) {
    margin-bottom: 32px;
}


/* ABOUT SECTION END*/
/* CARDS SECTION */

.cards {
    padding: 80px 0;
}

.card_desc {
    width: 588px;
    text-align: center;
}

.cards_header {
    margin-bottom: 88px;
}

.card_img {
    width: 384px;
    height: 489px;
    margin-bottom: 32px;
    box-sizing: initial;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.cards .col-4 {
    margin-right: 24px;
}

.cards_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 16px;
}

.card_more {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424F7B;
}

.card_more:before {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1.8px;
    width: 16.67px;
    background: #424F7B;
    border-radius: 1px;
}

.card_more:after {
    content: "";
    position: absolute;
    right: -29px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 9px;
    width: 9px;
    border-right: 2.4px #424F7B solid;
    border-bottom: 2.4px solid #424F7B;
    border-radius: 1px;
    transform: rotate(-45deg);
}

.card_more:hover.card_more:after {
    right: -26px;
    transform: rotate(136deg);
    transition: 1s;
}

/* CARDS SECTION END */

/* ROOM SECTION */
#room {
    background: #fff;
    padding: 80px 0;
}

.room_left-side {
    display: flex;
    align-items: center;
}

.room_content {
    width: 407px;
    margin-top: 6px;
}

.room_suptitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #424F7B;
}

.room_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
    margin: 12px 0 24px;
}

.room_desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-bottom: 32px;
}

.room_contact {
    display: inline-block;
    width: 148px;
    height: 51px;
    background: #0E1734;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: 0.6s;
}

.room_contact:hover {
    background: #31385e;
}

.room_explore {
    display: inline-block;
    background: none;
    color: #0E1734;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    margin-left: 24px;
}

.room_right-side {
    padding-left: 12px;
}

.room_step {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: -1px 0 8px -4px #989898;
    padding: 0 36px;
    transition: .3s;
}

.room_step:hover {
    box-shadow: -1px 0 8px 0 #989898;
}

.room_step_middle {
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room_step:not(:last-child) {
    margin-bottom: 24px;
}

.room_step .d-flex {
    height: 100%;
}

.room_sm-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #424F7B;
}

.room_step_middle .d-flex {
    height: auto;
}

.room_step .room_desc {
    margin: 22px 0 0;
}

/* COMMENTS SECTION  START*/

.comments {
    padding: 80px 0;
}

.comment_desc {
    width: 794px;
    text-align: center;
}

.comment_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #192252;
    margin-top: 8px 0 24px;
}

.comment_img {
    margin: 38px 0 44px;
}

.comments .d_flex svg:not(:last-child) {
    margin-right: 12px;
    display: inline-block;
}

/* SECTION FOOTER */
#footer {
    background: #0B265A;
    padding: 120px 0;
    color: #D9DBDE;
}

.footer_logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.footer_desc {
    width: 183px;
    margin: 13px 0 36px;
}

.fa-brands {
    color: white;
    font-size: 32px;
    margin-right: 24px;
}

.fa-brands:hover {
    font-size: 36px;
    transition: 0.5s;
}

.footer_nav:not(:last-child) {
    margin-right: 100px;
}

.footer_link {
    display: block;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #D9DBDE;
}

.footer_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}